@import "tailwindcss";

.btn-gradient {
  background: linear-gradient(270deg, #f97316, #fc4242, #f97316);
  background-size: 200% 200%;
  color: white;
  font-weight: bold;
  padding: 0.75rem 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-gradient:hover {
  animation: gradientShift 5s ease infinite;
}

.bg-gradient {
  background: linear-gradient(270deg, #f97316, #fc4242, #f97316);
  background-size: 200% 200%;
  color: white;
  font-weight: bold;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.5s ease;
}

@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradient-x 5s ease infinite;
}



@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}